# Load into GDG with -x command line argument.

set print pretty on
set height 0
set print elements 0

set logging file gdb_output.log
set logging overwrite on
set logging off

target remote localhost:3333
monitor halt
monitor reset

make -j3
file build/streaming_mic.elf
load

continue

